.addproduct {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 50px;
  margin: 20px 30px;
  border-radius: 6px;
  background: white;
}

.addproduct-img-upload img {
  width: 100px;
}

.addproducts-itemfield {
  width: 100%;
  font-size: 16px;
}

.addproduct-name input {
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: sans-serif;
  font-size: 14px;
}

.addproduct-description textarea {
  width: 500px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: sans-serif;
  font-size: 14px;
}

.addproduct-price-category {
  display: flex;
  flex-direction: row;
}

.addproduct-price input,
.addproduct-category select {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #000000;
  font-family: sans-serif;
  font-size: 14px;
}

.addproduct-category {
  margin-right: 100px;
}
.addproduct-button {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: #6079ff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
