.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-top: 140px;
  background-image: linear-gradient(0deg, #316eab 0%, #58d9f9 100%);
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
}

.hero-left h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hand-hand-icon {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.hand-hand-icon p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: #de1b1b; /* Changed the color to green */
}

.hand-hand-icon img {
  width: 30px;
  height: 30px;
}

.hero-left > div:nth-child(2) p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero-latest-btn {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
  color: #ffffff; /* Changed the color to blue */
}

.hero-latest-btn div {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.hero-latest-btn img {
  width: 20px;
  height: 20px;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-right img {
  max-width: 80%;
  height: auto;
}
